#grammar-container {
  margin: auto;
  margin-top: 20px;
  width: 590px;
  height: 100%;
  .carousel {
    .carousel-inner {
      margin: auto;
      width: 85%!important;
    }
    .carousel-control {
      background-image: none!important;
      .glyphicon {
        color: #341509;
      }
    }
  }
}

@media (max-width: 768px) {
  #grammar-container {
    width: 500px;
  }
}
@media (max-width: 500px) {
  #grammar-container {
    width: 400px;
  }
}
@media (max-width: 412px) {
  #grammar-container {
    width: 340px;
  }
}