#grammar-container {
  margin: auto;
  margin-top: 40px;
  width: 600px;
  height: 100%;
  .carousel {
    .carousel-inner {
      margin: auto;
      width: 85%!important;
    }
  }
}

@media (max-width: 768px) {
  #grammar-container {
    width: 500px;
  }
}
@media (max-width: 500px) {
  #grammar-container {
    width: 400px;
  }
}
@media (max-width: 375px) {
  #grammar-container {
    width: 330px;
  }
}