<div id="infograph">
    <h4 id="label">Скільки слів ви вивчили за сьогодні?</h4>
    <h2><span id="number"><%=count%></span></h2>
    <!--<div id="shareBtn" class="btn btn-success clearfix">Share</div>-->
    <button id="close" class="btn btn-default">Ok</button>
</div>

<div id="back"></div>
<!--<script>-->
    <!--window.fbAsyncInit = function() {-->
        <!--FB.init({-->
            <!--appId            : '408371692927964',-->
            <!--autoLogAppEvents : true,-->
            <!--xfbml            : true,-->
            <!--version          : 'v2.11'-->
        <!--});-->
    <!--};-->

    <!--(function(d, s, id){-->
        <!--var js, fjs = d.getElementsByTagName(s)[0];-->
        <!--if (d.getElementById(id)) {return;}-->
        <!--js = d.createElement(s); js.id = id;-->
        <!--js.src = "https://connect.facebook.net/en_US/sdk.js";-->
        <!--fjs.parentNode.insertBefore(js, fjs);-->
    <!--}(document, 'script', 'facebook-jssdk'));-->
<!--</script>-->