<div id="lessons">
    <header id="header-title"><h1 class="brown text-center"><%= title%></h1></header>
    <div class="row">
        <div class="col-xs-offset-4 col-xs-8 col-sm-offset-7 col-sm-5"><h6 id="rules-title">Щоб відкрити уроки із замочком,<br>пройдіть попередні.</h6></div>
</div>
    <div id="table-content">
    <table class="table">
        <tbody>
        <tr>
            <!--<td><img class="lesson-img" src="../www/assets/images/lesson1.ico"></td>-->
            <td><img class="lesson-img" src="/static/lesson1.ico"></td>
            <td class="click-td" id="1">Перші кроки</td>
            </tr>
        <tr>
            <td></td>
            <td class="click-td" id="2">Моя сім'я</td>
        </tr>
        <tr>
            <td></td>
            <td class="click-td" id="3">Числівники</td>
        </tr>
        <tr>
            <td></td>
            <td class="click-td" id="4">Кольори</td>
        </tr>
        </tbody>
    </table>
    </div>
</div>
